.slider {
    position: relative;
    width: 190px;
    margin-left: 2px;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 5px;
    position: absolute;
}

.slider__track {
    background-color: #bedaff;
    width: 100%;
    z-index: 1;
}

.slider__range {
    background-color: #1b66ff;
    z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 190px;
    outline: none;
}

.thumb--zindex-3 {
    z-index: 3;
}

.thumb--zindex-4 {
    z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    background-color: #f0f6ff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #90a1d7;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

.thumb--zindex-5 {
    z-index: 5;
}

.maxValue{
    position: relative;
    left: 195px;
    bottom: 7px
}

.minValue {
    position: relative;
    right: 22px;
    bottom: 28px;
}

.startValue1 {
    position: relative;
    right: 22px;
    bottom: 7px
}