.contain {
    width: 350px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
    height: 100%;
    padding-top: 20px;
}

.button_contain {
    display: flex;
}

.button {
    background-color: #d25e0c;
    color: white;
    width: 84px;
    border: none;
    margin: 1px;
    height: 21px;
}

.button:hover {
    background-color: #9f4603;
}