

.button {
    user-select: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 40px;
    margin: 1px;
    text-align: center;
    background-color: indianred;
}
.containTasks {
    background-color: #656565;
    margin: 1px;
    color: white;
    display: flex;
    align-items: center;
    height: 30px;
    width: 300px;
    justify-content: space-around;

}

.text1 {
    font-weight: bold;
}

.button:hover {
background-color: darkred;
}

.contain {
    display: flex;
}